* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 3329px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  background: url("../assets/images/bgHeader.png");
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-size: cover;
  height: 120vh;
  width: 100%;
}

h1 {
  margin: 20px;
  color: orange;
  font-size: 80px;
}
h2 {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.button-uno {
  margin-top: 50px;
  background-color: orange;
  border-color: orange;
  color: white;
  border-radius: 80px;
  border-color: orange;
  width: 80px;
  padding: 15px;
}
.button-submit {
  margin-top: 50px;
  background-color: orange;
  border-color: orange;
  color: white;
  border-radius: 80px;
  border-color: orange;
  width: 80px;
  padding: 15px;
}

#seccionUno {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

#seccionUno #article {
  width: 500px;
}
#seccionUno h2 {
  font-size: 30px;
  color: orange;
  font-size: 40px;
  margin-bottom: 50px;
}
#seccionUno #parrafo1 {
  font-size: 18px;
}
#seccionDos {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
#seccionDos #article-dos {
  width: 500px;
}
#seccionDos #parrafo2 {
  font-size: 18px;
}
#seccionDos h2 {
  font-size: 30px;
  color: orange;
  font-size: 40px;
  margin-bottom: 50px;
}
.button-dos {
  margin-top: 50px;
  background-color: orange;
  border-color: orange;
  color: white;
  border-radius: 80px;
  border-color: orange;
  width: 80px;
  padding: 15px;
}
#seccionTres {
  background: url("../assets/images/bgDown.png");
  background-size: cover;
  background-position-x: 80px;
  height: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

#seccionTres #article-tres {
  margin-top: 100px;
  width: 500px;
  margin-bottom: 100px;
}
#seccionTres #span {
  width: 413px;
}
#seccionTres h2 {
  font-size: 30px;
  color: orange;
  font-size: 40px;
  margin-bottom: 50px;
}
.button-tres {
  margin-top: 50px;
  background-color: orange;
  border-color: orange;
  color: white;
  border-radius: 80px;
  border-color: orange;
  width: 200px;
  padding: 15px;
}
footer {
  background-color: #ff984e;
}

#listas {
  padding-top: 50px;
  display: flex;
  gap: 150px;
  justify-content: center;
  padding-bottom: 50px;
}
.titulo-lis {
  margin-bottom: 20px;
}
.lista {
  color: white;
  list-style: none;
}
.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.3);
}